<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>

    <div class="bdy">
    <div class="navbar">
        <div class="nav1">
            <div class="text">EMPORIUM</div>
            <span></span>
          
         <input class="search" type="search" placeholder="Search" >
            <span></span>
             <i class="fa-solid fa-bag-shopping icon"></i>
            <button class="btn">SHOP NOW</button>
        
        </div>

 <div class="nav2">
    <div class="nav-links">
    <a href="#" class="links">HOME</a>
    <a href="#" class="links">ABOUT</a>
    <a href="#" class="links">MEN'S COLLECTION</a>
    <a href="#" class="links">WOMEN'S COLLECTION</a>
    <a href="#" class="links">ALL COLLECTION</a>
    <a href="#" class="links">BLOG</a>
    <a href="#" class="links">CONTACT</a>
    <a href="#" class="links">TEST</a>
    
</div>
    <div class="social-icons">

       <a href="https://www.instagram.com/_devesh._238/" style="color: black;"><i class="fa-brands fa-instagram ig"></i></a> 
        <i class="fa-brands fa-twitter icon"></i>
       
    </div>
 </div>



 <div class="content">

    <div class="all">
     <a href="">   <img src="/collection/allcollection.jpg" alt="" width="420" height="580"></a>
    </div>

    <div class="men">
        <img src="/collection/MENS.jpg" alt="" width="420" height="580">
    </div>

     <div class="women">
        <img src="/collection/womens.jpg" alt="" width="430" height="580">  
    </div>
 </div>
 </div>


  <marquee behaviour="slide" loop="" direction="left" width="1600">
 
 <div class="disply">

    <div class="elements">
<div class="star"><i class="fa-solid fa-star"></i></div>
<h1>BUY NOW</h1>
<div class="star"><i class="fa-solid fa-star"></i></div>
<h1>SUMMER SALE IS LIVE</h1>
<div class="star"><i class="fa-solid fa-star"></i></div>
<h1>25%OFF</h1>
<div class="star"><i class="fa-solid fa-star"></i></div>
</div>
   
 <div class="elements">

<h1>BUY NOW</h1>
<div class="star"><i class="fa-solid fa-star"></i></div>
<h1>SUMMER SALE IS LIVE</h1>
<div class="star"><i class="fa-solid fa-star"></i></div>
<h1>25%OFF</h1>
<div class="star"><i class="fa-solid fa-star"></i></div>
</div>
   </div>


  </marquee>



   
 </div>



















    </div>

</body>
</html>